# fastapi
fastapi==0.115.*

# uvicorn
uvicorn[standard]==0.30.*

# sqlalchemy
sqlalchemy==2.0.*

# postgre connector
psycopg2-binary==2.9.*

# pydantic settings
pydantic-settings==2.*

# httpx
httpx==0.27.*

# scheduler
apscheduler==3.10.*


#redis
redis==5.*
